@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer components {
  .myContainer,
  .myContainer-fluid,
  .myContainer-lg,
  .myContainer-md,
  .myContainer-sm,
  .myContainer-xl,
  .myContainer-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  .text-20 {
    font-size: 20px;
  }
  .bg-mainColor {
    --mainColor: #0b5ed7;
    --hoverColor: #0b41d7;

    background-color: var(--mainColor);
    &:hover {
      background-color: var(--hoverColor);
    }
  }
  .text-mainColor {
    --mainColor: #0b5ed7;
    color: var(--mainColor);
  }
}

.span-hero {
  position: relative;
}

.span-hero::after {
  content: "";
  position: absolute;
  background-image: url("./assets/span.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
}

@media (min-width: 576px) {
  .myContainer,
  .myContainer-sm {
    max-width: 540px;
  }
}

@media (min-width: 1024px) {
  .myContainer,
  .myContainer-md,
  .myContainer-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .myContainer,
  .myContainer-lg,
  .myContainer-md,
  .myContainer-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .myContainer,
  .myContainer-lg,
  .myContainer-md,
  .myContainer-sm,
  .myContainer-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .myContainer,
  .myContainer-lg,
  .myContainer-md,
  .myContainer-sm,
  .myContainer-xl,
  .myContainer-xxl {
    max-width: 1320px;
  }
}
